@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Sometype+Mono:wght@500&display=swap");
:root {
  --white_color: #fff;
  --black_color: #000;
  --black_50_color: #1b1511;
  --font_family: "Sometype Mono", monospace;
  --font_family_sec: "Agdasima", sans-serif;
}
body {
  --main_color: #f67f1d;
  --secondary_color: #f157244d;
  font-family: var(--font_family);
  background-color: var(--black_color);
}
/******************* Start main Global ********************/
a {
  text-decoration: none;
  color: var(--black_color);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
p {
  line-height: 1.8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
small,
span,
li {
  margin-bottom: 0;
}
i {
  color: var(--main_color);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
::-moz-selection {
  background-color: var(--main_color);
  color: var(--white_color);
}
::selection {
  background-color: var(--main_color);
  color: var(--white_color);
}

body::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track,
.offcanvas-body::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
  background: var(--secondary_color);
}
body::-webkit-scrollbar-thumb,
.offcanvas-body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #ea840f8c 0%,
    var(--main_color) 50%,
    #fe83006b 97%
  );
}
img {
  max-width: 100%;
}
/* Start Button */
.button {
  border: none;
  width: fit-content;
  display: inline-block;
  position: relative;
  padding: 0.7em 1.4em;
  font-size: 1rem;
  margin: 5px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: var(--white_color);
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid var(--main_color);
}

.button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 7%;
  height: 500%;
  background: var(--black_50_color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: var(--main_color);
}

.button:hover {
  color: var(--white_color);
}

.button:active span::before {
  background: var(--secondary_color);
}
/* End Button */
/******************* End main Global ********************/

/* Start Master_Head */
.Master_Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.Master_Head .head h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--main_color);
}
@media (max-width: 576px) {
  .Master_Head .head h2 {
    font-size: 1.5rem;
  }
}
.Master_Head .page_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--main_color);
  width: 40px;
  height: 40px;
  font-weight: bold;
  color: var(--white_color);
  font-size: 18px;
}
.brd {
  height: 5px;
  width: 48px;
  margin-top: 0.5rem;
  background-color: var(--main_color);
}
/* End Master_Head*/

/******************* End main Global ********************/

/********************** For Loading /***********************/
.loading {
  position: fixed;
  inset: 0;
  z-index: 99999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bg-load {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f67f1d14;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 999999;
}
.my-logo {
  position: relative;
  width: 170px;
  height: 170px;
  background-color: var(--main_color);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
  z-index: 9999999;
}

.my-logo::before {
  position: absolute;
  content: "";
  inset: -10px 70px;
  background: -o-linear-gradient(135deg, #fa003f, #ff1100);
  background: linear-gradient(315deg, #fa003f, #ff1100);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate 1s linear infinite;
  animation: animate 1s linear infinite;
}
.my-logo:hover::before {
  inset: -20px 0px;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.my-logo::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: var(--black_color);
  border-radius: 50%;
  z-index: 1;
}
.my-logo .content {
  position: absolute;
  inset: 20px;
  border: 6px solid var(--main_color);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.my-logo .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*********************** End For Loading ********************/
/* Start Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  backdrop-filter: blur(5px);
  background-color: #f67f1d14;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1300;
}
.logo img {
  width: 60px;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}
.ul-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.ul-nav a {
  display: inline-block;
  color: var(--white_color);
  transition: 0.4s;
}
.ul-nav a:hover {
  color: var(--main_color);
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .button span::before {
  background: #f67f1d14;
}
.contact .button:hover span::before {
  background: var(--main_color);
}
.menu i.d-non {
  display: none;
}

/* Start main-nav-sub */
.main-nav-phone {
  position: fixed;
  inset: 0;
  top: 70px;
  height: calc(100vh - 70px);
  background-color: var(--black_50_color);
  color: var(--white_color);
  z-index: 1200;
  display: grid;
  grid-template-rows: 60% 10% 1fr;
  row-gap: 5px;
  transform: translateY(-120%);
  transition: 0.3s;
}
.ul-nav.phone,
.ul-nav.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5px;
  transition: 0.4s;
}
.ul-nav.phone li,
.ul-nav.social li {
  width: 100%;
  height: 100%;
}
.ul-nav.phone a,
.ul-nav.social a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main_color);
  font-size: 1.2rem;
}
.ul-nav.phone a:hover {
  background: var(--white_color);
  color: var(--main_color);
}
.ul-nav.social img {
  width: 35px;
  transition: 0.4s;
}
.ul-nav.social a:hover img {
  transform: scale(1.2);
}
.ul-nav.social li:nth-child(1) a {
  background: #0a66c268;
}
.ul-nav.social li:nth-child(2) a {
  background: #25d3659b;
}
.ul-nav.social li:nth-child(3) a {
  background: #1876f267;
}
.ul-nav.social li:nth-child(4) a {
  background: #fd950d9c;
}
.ul-nav.social li:nth-child(5) a {
  background: #37474fc1;
}
.ul-nav.social li:nth-child(4),
.ul-nav.social li:nth-child(5) {
  position: relative;
  left: 50%;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
@media (max-width: 567px) {
  .ul-nav.phone,
  .ul-nav.social {
    grid-template-columns: repeat(2, 1fr);
  }
  .ul-nav.social li:nth-child(4) {
    position: relative;
    left: 0%;
  }
}
/* End main-nav-sub */
/* End Header */
/************************ Start Main Slide ************************/
#Main_Slider {
  position: relative;
  height: 100vh;
  background: var(--black_color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

/* Start  Ny_name */
.My_name {
  margin-top: 3rem;
}
.My_name > span,
.My_name h1 {
  text-transform: uppercase;
}
.My_name > span,
.My_name > p {
  color: var(--white_color);
}
.My_name h1 {
  color: var(--main_color);
  margin-bottom: 1rem;
}
.My_name .button span::before {
  background: var(--black_color);
}
.My_name .button:hover span::before {
  background: var(--main_color);
}
@media (max-width: 576px) {
  .My_name h1 {
    font-size: 1.8rem;
  }
  .My_name h2 {
    font-size: 1rem;
  }
}
/* End  Ny_name */
.my-img {
  text-align: right;
}
.my-img img {
  transition: 0.4s;
  width: 400px;
}
@media (max-width: 767px) {
  .my-img,
  .My_name {
    text-align: center;
  }
  .my-img img {
    width: 300px;
    margin-top: 20px;
  }
}
.circle-1,
.circle-2,
.square-1,
.square-2 {
  position: absolute;
  background-color: transparent;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  border: 3px solid var(--main_color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.circle-1 {
  bottom: 10%;
  right: 20%;
}
.circle-2 {
  top: 35%;
  left: 10%;
}
.square-1,
.square-2 {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.square-1 {
  top: 20%;
  left: 60%;
  animation: rotateRight 5s infinite linear;
}
.square-2 {
  bottom: 20%;
  left: 35%;
  animation: rotateLeft 5s infinite linear;
}
@keyframes rotateRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Start  Sections */
.My_sections {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 1rem;
  z-index: 555;
}
.My_sections li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
}
.My_sections span {
  padding: 2px 5px;
  background-color: var(--white_color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main_color);
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.My_sections span::before {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 8px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent var(--white_color);
}
.My_sections .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--main_color);
  border-radius: 50%;
  margin-left: 0.7rem;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.My_sections .icons a:hover {
  background-color: var(--white_color);
}
.My_sections i {
  color: var(--white_color);
  font-size: 15px;
}
.My_sections .icons a:hover i {
  color: var(--main_color);
}
.My_sections li:hover span {
  opacity: 1;
}
/* End  Sections */

/* Start  Social */
.My_social {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--secondary_color);
  border-radius: 6px;
  padding: 0.3rem;
  margin-bottom: 1rem;
  z-index: 999;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.8s;
}
.My_social.active {
  width: 100px;
  height: 100px;
  transition-delay: 0s;
}

.My_social span {
  position: absolute;
  width: 7px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--main_color);
  border-radius: 50%;
  -webkit-transition: transform 0.5s, width 0.5s, height 0.5s,
    background-color 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s,
    -webkit-transform 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(calc(6px * var(--x)), calc(6px * var(--y)));
  -ms-transform: translate(calc(6px * var(--x)), calc(6px * var(--y)));
  transform: translate(calc(6px * var(--x)), calc(6px * var(--y)));
  -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s,
    -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, background-color 0.5s,
    -webkit-transform 0.5s;
  -o-transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s,
    -webkit-transform 0.5s;
  -webkit-transition-delay: calc(0.1s * var(--i));
  -o-transition-delay: calc(0.1s * var(--i));
  transition-delay: calc(0.1s * var(--i));
  -moz-transition: transform 0.5s, width 0.5s, height 0.5s,
    background-color 0.5s, -webkit-transform 0.5s;
  -ms-transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s,
    -webkit-transform 0.5s;
}

.My_social.active span {
  width: 35px;
  height: 35px;
  background-color: var(--main_color);
  -webkit-transform: translate(calc(20px * var(--x)), calc(20px * var(--y)));
  -ms-transform: translate(calc(20px * var(--x)), calc(20px * var(--y)));
  transform: translate(calc(20px * var(--x)), calc(20px * var(--y)));
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.My_social.active span a {
  width: 100%;
  text-align: center;
  line-height: 35px;
}

.My_social span i {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 0rem;
}

.My_social.active span i {
  font-size: 1rem;
  color: var(--white_color);
}

.My_social.active span:hover {
  background-color: var(--white_color);
}
.My_social.active span:hover i {
  color: var(--main_color);
}
/* End  Social */
/************************ End Main Slide ************************/

/************************ Start About Me ************************/
#About_Me {
  padding: 5rem 0;
  background-color: var(--black_50_color);
  overflow: hidden;
}
/* Start my_img */
.my_img,
.my_img img {
  width: 100%;
  height: 100%;
}
/* End my_img */

.my_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.my_info h3 {
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--main_color);
}
.my_info p {
  color: var(--white_color);
  font-size: 1rem;
  margin: 1rem 0;
}
/* Start sub_info */
.sub_info_contact p > span {
  color: var(--main_color);
  font-weight: 600;
}
/* End sub_info */

/************************ End About Me ************************/
/************************ Start Services  ************************/
#Services {
  padding: 5rem 0;
  overflow: hidden;
}
/* Start service */
.service {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--white_color);
  cursor: pointer;
}
.service i {
  position: relative;
  font-size: 2rem;
  margin-right: 1.5rem;
}
.ser-info {
  position: relative;
}
.ser-info h5 {
  color: var(--black_color);
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.ser-info small {
  color: #999;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: var(--main_color);
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.service:hover h5,
.service:hover small,
.service:hover i {
  color: var(--white_color);
}
.service:hover::before {
  width: 100%;
}
/* End */
/************************ End Services  ************************/

/************************ Start Skills ************************/
#Skills {
  padding: 5rem 0;
  overflow: hidden;
  background-color: var(--black_50_color);
}
#Skills h3 {
  font-size: 30px;
  color: var(--white_color);
  margin: 25px 10px;
  text-align: center;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.skill_box {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.084);
  border-radius: 6px;
  transition: 0.4s;
  border: 2px solid transparent;
  cursor: pointer;
  overflow: hidden;
  width: 70px;
  height: 70px;
  padding: 6px;
  position: relative;
}
.skill_box:hover {
  border-radius: 50%;
  border: 3px solid var(--main_color);
}
.skill_box img {
  width: 55px;
  height: 55px;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill_box:hover img {
  transform: translate(-50%, -50%) scale(0.8);
}

/************************ End Skills ************************/

/************************ Start Resume  ************************/
#Resume {
  padding: 5rem 0;
  overflow: hidden;
}
.resume-title {
  margin-bottom: 1.5rem;
  color: var(--main_color);
}
.resume-body {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid var(--main_color);
  color: var(--white_color);
}
.resume-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  width: 15px;
  height: 15px;
  background: var(--black_color);
  border-radius: 50%;
  border: 3px solid var(--main_color);
}
.resume-body h4 {
  color: var(--main_color);
  font-size: 1.12rem;
  font-weight: bold;
}
.resume-body .ul_bloodBank,
.resume-body .ul_movie,
.resume-body .ul_note,
.ul_bloodBank_in {
  list-style-type: disc;
  list-style-position: inside;
}

.resume-body p {
  margin-bottom: 1rem;
}
.resume-body > span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--main_color);
  font-weight: 500;
  color: var(--white_color);
  margin: 5px 0;
}
.resume-body .button span::before {
  background: var(--black_color);
}
.resume-body .button:hover span::before {
  background: var(--main_color);
}
/************************ End Resume  ************************/

/************************ Start MY Works  ************************/
#MyWorks {
  padding: 5rem 0;
  overflow: hidden;
  background-color: var(--black_50_color);
}

/* Start nav-pills */
.nav-pills {
  margin-top: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav-link {
  width: 55px;
  color: var(--white_color);
  font-weight: 700;
  font-size: 14px;
  margin: 4px;
  padding: 7px 0 !important;
  border-radius: 0 !important;
  background-color: var(--main_color) !important;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.nav-link:hover {
  background-color: var(--white_color) !important;
  color: var(--main_color);
}
.nav-link.active {
  color: var(--main_color) !important;
  background-color: var(--white_color) !important;
}
/* End */

/* Start tab-work-pane */
.item-img {
  position: relative;
  height: 300px;
  width: 100%;
  border: 10px solid var(--main_color);
  border-radius: 5px;
}
.item-img img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.img-info {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.plus i,
.pro-link i {
  color: var(--white_color);
  font-size: 20px;
  padding: 10px 15px;
  background-color: var(--main_color);
  cursor: pointer;
  margin: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.plus i:hover,
.pro-link i:hover {
  color: var(--main_color);
  background-color: var(--white_color);
}
.item-img:hover {
  -webkit-box-shadow: 0px 0px 5px 7px var(--main_color);
  box-shadow: 0px 0px 5px 7px var(--main_color);
}
.item-img:hover img {
  opacity: 0.3;
}
.item-img:hover .img-info {
  opacity: 1;
}
/* End */
/* Start Modal */
.modal-content {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
.modal-tools {
  font-size: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-tools .fa-times-square {
  position: absolute;
  top: -45px;
  right: 0;
  font-size: 35px;
}
.modal-tools .fa-angle-left,
.modal-tools .fa-angle-right {
  background: var(--secondary_color);
  width: 35px;
  height: 35px;
  margin: 10px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px !important;
  }
}
/* End */
/************************ End MY Works  ************************/
/* ************************ Start Contact ************************/
#ContactMe {
  padding: 5rem 0;
}
#ContactMe h3,
#ContactMe p {
  text-align: center;
  color: var(--main_color);
}
#ContactMe p {
  margin-top: 1rem;
  color: var(--white_color);
}
.form-group {
  position: relative;
  margin: 25px 0;
  transition: 0.4s;
}
.form-group .button span::before {
  background: var(--black_color);
}
.form-group .button:hover span::before {
  background: var(--main_color);
}
.input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--secondary_color);
  background: #f67f1d30;
  color: var(--white_color);
}
.input:focus {
  outline: none;
}
label {
  color: var(--white_color);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.validate {
  position: absolute;
  right: 10px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.validate i {
  font-size: 20px;
}
.input:focus ~ label,
.input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--main_color);
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--main_color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 5px;
  pointer-events: none;
  opacity: 0.5;
}
.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: var(--main_color);
  }

  to {
    width: 0;
    background: transparent;
  }
}
/* ************************ End Contact ************************/
/* ************************ Start Footer ************************/
footer {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #f67f1d14;
  min-height: 150px;
  flex-direction: column;
  gap: 20px;
}
footer .logo img {
  width: 120px;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .social li a {
  display: block;
  background-color: rgba(255, 255, 255, 0.084);
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 7px;
  transition: 0.4s;
}
footer .social li a img {
  width: 25px;
  transition: 0.4s;
}
footer .social li a:hover {
  border: 2px solid var(--main_color);
  border-radius: 50%;
}
footer .social li a:hover img {
  transform: scale(0.8);
}
footer p {
  color: var(--white_color);
  font-size: 1.2rem;
  font-weight: 600;
}
/* ************************ End Footer ************************/
/*********************** Start Btn_Up ********************/
#btnUp {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  z-index: 1100;
  background-color: var(--main_color);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-align: center;
  display: none;
}
#btnUp i {
  font-size: 22px;
  color: var(--white_color);
}
#btnUp:hover {
  background-color: var(--white_color);
}
#btnUp:hover i {
  color: var(--main_color);
}
/*********************** End Btn_Up ********************/
/* Start Sweet Alert */
.swal2-container {
  backdrop-filter: blur(5px);
  z-index: 9999;
}
.swal2-popup {
  border-radius: 0;
}
.swal2-styled.swal2-confirm {
  background-color: var(--main_color);
  border-radius: 0;
}
/* End Sweet Alert */
